{% extends "layout.html" %}

{% set title = "Home" %}

{% block content %}
<div class="container">
	<div id="history"></div>

	<form id="send" class="form-row p-3 bg-white fixed-bottom">
		<input type="text" id="message-input" class="form-control col-10 shadow-none" name="message" placeholder="Type something..." required>
		<button type="submit" id="send-btn" class="btn btn-dark col-2 shadow-none">Send</button>
	</form>

	<div id="private-chat" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="private-chat-label" aria-hidden="true">
	  	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		    <div class="modal-content">
	      		<div class="modal-header bg-dark text-white">
		     		<h5 id="private-chat-label" class="modal-title text-truncate align-middle w-75">
		     			Private chat with:
		     			<strong id="private-chat-user"></strong>
		     		</h5>

		        	<button class="btn btn-outline-light shadow-none w-25" data-dismiss="modal">Leave Private Chat</button>
		      	</div>
		      	<div class="modal-body">
		        	<div id="private-history"></div>

					<form id="private-send" class="form-row p-3 bg-white">
						<input type="text" id="private-message-input" class="form-control col-10 shadow-none" name="message" placeholder="Type something..." required>
						<button type="submit" id="private-send-btn" class="btn btn-dark col-2 shadow-none">Send</button>
					</form>
		      	</div>
	    	</div>
	  	</div>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.js" integrity="sha512-8BHxHDLsOHx+flIrQ0DrZcea7MkHqRU5GbTHmbdzMRnAaoCIkZ97PqZcXJkKZckMMhqfoeaJE+DNUVuyoQsO3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{url_for('static', filename='chat.js')}}"></script>
<script src="{{url_for('static', filename='private.js')}}"></script>
{% endblock %}