<!DOCTYPE html>
<html>
<head>
	<title>{{ title }} - Chatroom App</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="icon" type="32x32" href="{{url_for('static', filename='img/logo.png')}}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white fixed-top">
		<a class="navbar-brand font-weight-bold align-middle">
			<img src="{{url_for('static', filename='img/logo.png')}}" width="35" height="30" class="d-inline-block align-top mr-2" alt="Chatroom App Logo">
		    Chatroom App
		</a>

		<button class="navbar-toggler btn p-1 border-0 shadow-none" data-toggle="collapse" data-target="#navbar-content">
		<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbar-content">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item">
				<a href="https://github.com/hyojunm/chatroom-app" target="_blank" class="nav-link">
					About
				</a>
			</li>

			{% if user and not show_footer %}
				<li class="nav-item dropdown">
					<a href="#" id="users-dropdown" class="nav-link dropdown-toggle" data-toggle="dropdown">
						<span id="total-users">0</span> user(s) online
					</a>

					<div id="users-list" class="dropdown-menu" aria-labelledby="users-dropdown">
						<a class="dropdown-item disabled user text-truncate">
							<strong>{{ user }}</strong> (you)
						</a>
					</div>
				</li>
			{% endif %}
		</ul>

		{% if user %}
		    <span id="current-user" class="nav-text mr-3 text-truncate">Welcome, <strong>{{ user }}</strong>!</span>
		  	<a href="{{url_for('leave')}}" id="leave-btn" class="btn btn-outline-light shadow-none">Leave</a>
		{% endif %}
		</div>
	</nav>

	{% block content %}{% endblock %}

	{% if show_footer %}
		<footer class="font-small bg-light text-center">
			<div class="p-3">
				Created by Jeremy Moon

				<span class="mx-1">&middot;</span>

				View source code on
				<a href="https://github.com/hyojunm/chatroom-app" target="_blank">GitHub</a>
			</div>
		</footer>
	{% endif %}
</body>
</html>